<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="sharepointsite" value="https://dgcpgovdo.sharepoint.com/"/>
    <add key="listname" value="Birthdays"/>
    <add key="account" value="admin@contoso.com" />
    <add key="password" value="contoso12345678" />
    <add key="domain" value="contoso.com" />
    <add key="domainname" value="contoso" />
  </appSettings>
  <connectionStrings>
    <add name="sourceconnection" connectionString="Initial Catalog=HHRR;Data Source=192.168.0.1;Max Pool Size=45; Min Pool Size=10;User ID=admin;Password=admin;"/>
  </connectionStrings>
</configuration>