<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="sharepointsite" value="https://dgcpgovdo.sharepoint.com/"/>
    <add key="listname" value="Birthdays"/>
    <add key="account" value="helpdeskredmine@dgcp.gob.do" />
    <add key="password" value="dgcp12345678" />
    <add key="domain" value="dgcp.gob.do" />
    <add key="domainname" value="dgcp" />
  </appSettings>
  <connectionStrings>
    <add name="sourceconnection" connectionString="Initial Catalog=USUARIOS_DB;Data Source=172.30.1.30;Max Pool Size=45; Min Pool Size=10;User ID=sispleg;Password=sispleg;"/>
  </connectionStrings>
</configuration>